{% extends "base.html" %}

{% block content %}
    <main class="row g-0 gap-2 justify-content-center my-5 px-1">
        <div class="col-auto ms-md-auto">
            <a href="{% url "projects:add_project" %}" class="d-none d-md-inline-block btn btn-primary" data-bs-toggle="tooltip"
                data-bs-placement="left" data-bs-title="Добавить проект"><span class="icon-plus"></span></a>
            <a href="{% url "projects:add_project" %}" class="d-inline-block d-md-none btn btn-primary">Добавить проект</a>
        </div>
        <div class="w-100"></div>
        <div class="col-12 text-center lh-sm">
            <div class="table-responsive">
                <table class="table table-bordered border-success table-striped align-middle w-100">
                    <tr>
                        <th class="bg-success text-white">№</th>
                        <th class="bg-success text-white w-25">Название</th>
                        <th class="bg-success text-white">Система</th>
                        <th class="bg-success text-white">Логин</th>
                        <th class="bg-success text-white">Баланс</th>
                        <th class="bg-success text-white">Порог</th>
                        <th class="bg-success text-white">Действия</th>
                    </tr>
                    {% if projects|length != 0 %}
                        {% for project in projects %}
                            <tr class="{% if forloop.counter|divisibleby:2 == True %}table-success border border-success{% endif %}">
                                <td class="">{{ forloop.counter }}</td>
                                <td class="w-25">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <div class="mb-1">{{ project.name }}</div>
                                        <span class="text-danger fw-bold">{{ project.balance_error_texts }}</span>
                                    </div>
                                </td>
                                <td>{{ project.system.name }}</td>
                                <td>{{ project.login }}</td>
                                <td>
                                    <div class="row g-0 align-items-center justify-content-around">
                                        <span class="col-xl-6 text-xl-center mb-2 mb-xl-0
                                            {% if project.balance is not None and project.balance < project.threshold %}text-danger fs-5{% endif %}">
                                            {% if project.balance is not None %}
                                                {{ project.balance|floatformat:0 }}
                                            {% else %}
                                                &mdash;
                                            {% endif %}
                                        </span>
                                        <div class="col-xl-6 text-xl-center">
                                            <a href="{% url "projects:refresh_balance" project_id=project.id %}" class="btn btn-primary rounded-circle p-auto" data-bs-toggle="tooltip"
                                                data-bs-placement="right" data-bs-title="Обновить баланс">
                                                <span class="icon-refresh"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ project.threshold }}</td>
                                <td>
                                    <div class="row g-0 align-items-center justify-content-center">
                                        <div class="col-auto me-lg-2 mb-2 mb-lg-0">
                                            <a href="#"
                                                class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Изменить</a>
                                        </div>
                                        <div class="col-auto me-lg-2 mb-2 mb-lg-0"><a href="{% url "projects:chats" project_id=project.id %}"
                                                class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Чаты</a>
                                        </div>
                                        <div class="col-auto"><a href="#"
                                                class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">В
                                                архив</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <div class="p-3">
                                    Вы пока не добавили ниодного проекта.
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-auto ms-md-auto">
            <button class="d-none d-md-inline-block btn btn-primary" data-bs-toggle="tooltip"
                data-bs-placement="left" data-bs-title="Проекты в архиве"><span
                    class="icon-archive"></span></button>
            <button class="d-inline-block d-md-none btn btn-primary">Проекты в архиве</button>
        </div>
    </main>
{% endblock %}